html, body, header, div, footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container {
	width: 960px;
	height: 650px;
}

header {
	height: 100px;
	width: 900px;
	background-color: red;
	margin: 0 30px;
}

#div1 {
	width: 680px;
	float: left;
	height: 400px;
	background-color: blue;
	margin: 15px 15px 15px 30px;
}

#div2 {
	width: 190px;
	height: 400px;
	float: right;
	background-color: orange;
	margin: 15px 30px 15px 15px;
}

footer {
	width: 900px;
	height: 100px;
	background-color: gray;
	clear: both;
	margin: 15px 30px;
}